.formContainer {
    background-color: rebeccapurple;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .formWrapper {

} */
.formItem {
    min-width: 440px;
    height: fit-content;
    background-color: aliceblue;
    padding: 28px;
    border-radius: 30px;
}